/* #fad4d4 pale pink option*/
/* C4DDEA light blue option*/
body{
    color: #555;
}
h1{
    font-weight: 700;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Jost', sans-serif;
}
.btn-primary{
    background-color: #C4DDEA;
    border: #C4DDEA;
    font-weight: 600;
    font-size: 1.2rem;
    color: #555;
}
.btn-primary:hover{
    background-color: #94cceb;
    border: #94cceb;
    color:#555;
}
.btn-primary:focus{
    background-color: #C4DDEA;
    border: #C4DDEA;
    color:#555;
}
.bg-beagle{
  background-color: #C4DDEA;
}
.nav-custom{
    background-color: #C4DDEA;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
}
.highlight{
  text-decoration: underline;
  font-weight: 500;
}
