<!-- ========================= PREAMBLE ========================= -->
<section id="preamble" class="container">
    <hr class="">
    <div class="row py-5">
        <div class="col-md-7">
            <h2 class="display-4 fw-bold">Preamble</h2>
            <p class="lead mb-5">{{.Site.Params.preamble}} </p>
        </div>
            <div class="col-md-5">
            <img class="py-5 img-fluid mx-auto" role="img" src="{{ .Site.Params.preamblepic }}" width="500" height="500" alt="graphic of man reading a list">
        </div>
    </div>
</section>